@import url(./index.css);
@import url(./navbar.css);
@import url(./pedido.css);
@import url(./salgados.css);
@import url(./kitfesta.css);
@import url(./doces.css);
*{
    margin: 0;
    padding: 0;

}
ul{
    list-style-type: none;
}
h1 {
    text-align: center;
}
footer{
    background-color: #c0c0c0;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img {
    height: 2.5vh;
    align-self: center;

}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}